@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
  --bg-dark: #262626;
  --bg-nav: #3f3f46;
  --bg-footer: #171717;
  --txt-light: #e5e5e5;
  --txt-light-secondary: #a3a3a3;
  --txt-225: 2.25rem;
}

.toast-class {
  width: 90%;
}

.gooey {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  filter: contrast(20);
}
.gooey .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: var(--truegray100);
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}
.gooey .dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}
.gooey .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: var(--truegray100);
  border-radius: 50%;
}
@-moz-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-webkit-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-o-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-moz-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@-webkit-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@-o-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}

.App {
  font-family: "Oswald", sans-serif;
}

body {
  background-color: var(--bg-dark);
  margin: 0rem;
  padding: 0rem;
}

.nav-mob {
  padding: 0rem;
  margin: 0rem;
}

.nav-mob-top {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--bg-nav);
  box-shadow: 0px 2px 4px var(--bg-nav);
}

.nav-mob-logo {
  font-family: inherit;
  font-size: var(--txt-25);
  color: var(--truegray100);
  padding-left: 0.5rem;
  flex: 1 1 auto;
}

.btn-sign-in {
  background: transparent;
  font-size: var(--txt-125);
  border: 1px solid var(--txt-light-secondary);
  color: var(--txt-light);
  outline: none;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  position: relative;
  border-radius: 0.25rem;
  top: 0.6em;
}

.btn-icon:hover {
  background: transparent;
  cursor: pointer;
}

.footer {
  margin: 0rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  background-color: var(--bg-footer);
}

.footer-content {
  display: flex;
  flex-direction: column;
  margin: 0.25rem auto;
  width: 28%;
}

.footer-content-head {
  font-size: 1.25rem;
  margin: 0rem auto;
  color: var(--txt-light-secondary);
}

.footer-content-txt {
  font-size: 1.1rem;
  margin: 0rem auto;
  color: var(--txt-light-secondary);
}

.footer-social-link-bar {
  width: 75%;
  margin: 0.5rem auto;
}

.footer-app-name {
  font-size: 1.5rem;
  color: #fafafa;
  margin: 0rem auto;
}

.footer-company-name {
  font-size: 2.25rem;
  color: #fafafa;
  margin: 0rem auto;
}

.div-home {
  width: 100%;
  position: relative;
}

.div-home-img {
  width: 100%;
  overflow: hidden;
}

.img-home {
  height: 100%;
  opacity: 0.65;
}

.div-home-txt {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 10%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: var(--truegray100);
  text-shadow: 0px 4px 4px var(--truegray200);
  line-height: 8rem;
}

.txt-medium {
  font-size: 8rem;
}

.txt-small {
  font-size: 4rem;
}

.txt-large {
  font-size: 12rem;
}

.div-home-nav {
  position: absolute;
  top: 4em;
  right: 4em;
  display: flex;
  cursor: pointer;
}

.div-home-nav-txt {
  font-size: 3rem;
  color: var(--truegray50);
}

.stage {
  position: relative;
  top: 1em;
  border-bottom: 1px;
  display: flex;
  height: 3rem;
  width: 3rem;
  margin-left: 1rem;
}

.link-image {
  height: 2rem;
  width: 2rem;
  transform-origin: bottom;
  margin: 0 auto;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  align-self: flex-end;
}

.bounce {
  animation-name: bounce;
  animation-timing-function: linear;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.75rem);
  }
  100% {
    transform: translateY(0);
  }
}

.component-head {
  font-size: var(--txt-225);
  color: var(--txt-light-secondary);
  text-align: center;
  margin-top: 2rem;
}

.login-block {
  padding: 1rem;
  width: 30%;
  margin: 1rem auto;
  border: 1px solid white;
  border-radius: 0.5rem;
}

.floating-form {
  width: auto;
  margin: 0rem auto;
}

.floating-label {
  width: 50%;
  margin: 1rem auto;
}

.floating-input {
  font-size: var(--txt-125);
  color: white;
}

.floating-input:focus {
  border: 1px solid #a8a29e;
}

label {
  font-size: var(--txt-115);
}

.floating-input-outlined:focus ~ label,
.floating-input-outlined:not(:placeholder-shown) ~ label {
  margin-left: 0.25rem;
  font-size: 0.8rem;
  color: var(--txt-light-secondary);
  background-color: var(--bg-dark);
}

.btn {
  margin: 1rem auto;
}

.align-center {
  text-align: center;
}

.page-head {
  font-size: var(--txt-225);
  padding: 1rem;
  color: var(--truegray200);
}

.page-layout {
  width: 70%;
  margin: 0rem auto;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0rem auto;
  justify-content: space-evenly;
}

.category-card {
  /* width: 50%; */
  margin: 0.5rem 0rem;
  display: flex;
  flex: 0 1 300px;
  height: 200px;
  /* background-image: linear-gradient(#2c3e50, #bdc3c7); */
  overflow: hidden;
  border-radius: 0.25rem;
  position: relative;
}

.category-card-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.category-card-txt {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.category-card-txt-det {
  font-size: 2rem;
  color: var(--truegray100);
}

.category-card:hover {
  cursor: pointer;
  transform: translate(0px, -5px);
  box-shadow: 0px 5px 15px var(--truegray600);
}

.category-card:hover .category-card-img {
  opacity: 0.4;
}

.category-card:hover .category-card-txt {
  opacity: 1;
}

.card-layout {
  padding: 0.5rem;
  margin: 0.5rem;
  max-width: 300px;
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.card-img {
  height: 150px;
  width: 300px;
  object-fit: cover;
}

.card-flex {
  display: flex;
  padding: 0.25rem;
}

.card-logo-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0.5rem 0.25rem 0rem 0rem;
  visibility: visible;
  transform: scale(1);
}

.card-detail {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  position: relative;
}

.card-options {
  position: absolute;
  right: 0em;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.card-title {
  font-size: var(--txt-115);
  color: var(--txt-light);
}

.card-info {
  font-size: 0.85rem;
  color: var(--txt-light-secondary);
  margin-bottom: 0.25rem;
}

.body-container {
  display: flex;
  padding: 1rem 2rem;
  box-sizing: border-box;
  margin: 1rem 0rem;
}

.sidenav {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  padding: 0.25rem 2rem 0.25rem 1rem;
  border-right: 3px solid var(--borderRight);
}

ul {
  list-style: none;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--borderRight);
}

li {
  font-size: 1.15rem;
}

.sidenav-head {
  font-size: 1.75rem;
  color: var(--truegray200);
}

.sidenav-item,
.sidenav-item-active {
  font-size: 1.25rem;
  color: var(--truegray400);
  padding: 0.25rem 0rem 0.25rem 1rem;
}

.sidenav-item-active {
  color: #0284c7;
}

.sidenav-item:hover,
.sidenav-item-active:hover {
  cursor: pointer;
  text-decoration: underline;
}

.body-content {
  padding: 0.25rem 1rem;
  max-width: 75%;
  margin: 0rem 2rem;
}

.display-flex {
  display: flex;
  position: relative;
}

.card-btn-flex {
  display: flex;
}

.margin-025 {
  margin: 0rem 0.25rem;
}

.modal-div {
  width: 100%;
  position: fixed;
  padding: 0rem;
  top: 50%;
  left: 0em;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  z-index: 20;
}

.modal-sub-div {
  position: relative;
  text-align: center;
  margin: 0rem auto;
  padding: 1rem;
  background-color: #e5e7eb;
}

.profile-block {
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem;
}

.profile-img {
  margin: 1rem auto;
}

.user-img {
  /* border-radius: 50%; */
  height: 200px;
  width: 200px;
}

.profile-name {
  font-size: var(--txt-175);
  margin: 0rem auto;
  color: var(--txt-light);
}

hr {
  margin: 1rem auto;
  background-color: gray;
  width: 12%;
}

.profile-location,
.profile-contact,
.profile-mail {
  font-size: var(--txt-125);
  color: var(--txt-light-secondary);
  margin: 0rem auto 0.5rem auto;
  border-bottom: 1px solid gray;
  padding-bottom: 0.5rem;
  width: 250px;
  overflow: hidden;
  white-space: no-wrap;
  text-overflow: ellipsis;
}

.profile-info-img {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  top: 0.1em;
  margin: 0rem 1rem;
}

.btn-logout {
  font-size: var(--txt-15);
  /* color: var(--txt-light); */
  color: #dc2626;
  margin: 0.5rem auto;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

/* .page-subcontainer{
  display: flex;
  flex-direction: co
} */

.page-sub-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0rem auto;
}

.empty-container {
  font-size: 2rem;
  opacity: 0.6;
  margin: 2rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.btn-empty {
  font-size: 1.5rem;
  border: none;
  outline: none;
  color: var(--truegray400);
  cursor: pointer;
}

.video-page-block {
  display: flex;
  /* flex-direction: column; */
  padding: 0.25rem;
  width: 75%;

  justify-content: space-between;
  margin: 1rem auto;
}

.video-block {
  overflow: hidden;
  width: 60%;
}

.video-responsive {
  height: 60vh;
  width: 100%;
}

.video-content-block {
  display: flex;
  flex-direction: column;
}

.video-title {
  color: var(--txt-light);
  font-size: var(--txt-175);
}

.video-info {
  color: var(--txt-light-secondary);
  font-size: var(--txt-1);
  margin: 0.5rem 0rem;
}

.video-author {
  display: flex;
}

.video-author-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0.5rem 0.25rem 0rem 0rem;
}

.video-author-info {
  color: var(--truegray300);
  font-size: var(--txt-115);
  align-self: center;
  margin: 0rem 0.5rem;
}

.video-desc {
  margin: 0.5rem 0rem;
  font-size: var(--txt-115);
  color: var(--txt-light-secondary);
  width: auto;
}

.video-sub-block {
  display: flex;
  flex-direction: column;
  height: 80vh;
  /* margin-top: 2rem; */
}

.video-sub-block-head {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: var(--txt-15);
  color: #0284c7;
}

.video-sub-block-content-y {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.video-sub-block-content-y::-webkit-scrollbar {
  width: 5px;
}

.video-sub-block-content-y::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.video-sub-block-content-y::-webkit-scrollbar-thumb {
  background: var(--truegray600);
}

.page-width {
  width: 40%;
  margin: 0rem auto;
  padding: 1rem;
}

.modal-head {
  font-size: 1.5rem;
  margin: 0.5rem auto;
}

.modal-btn-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.modal-btn {
  font-size: 1rem;
  background-color: var(--truegray900);
  padding: 0.5rem;
  color: #e5e7eb;
  outline: none;
  border: none;
  margin-left: 0.25rem;
  cursor: pointer;
}

.modal-input {
  margin: 1rem auto;
  font-size: 1.25rem;
  width: 60%;
  padding: 0.25rem;
  border: none;
  outline: none;
}

.modal-flex-col {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin: 0rem auto;
  padding: 1rem;
  height: 12vh;
}

.modal-btn-playlist {
  font-size: 1.15rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0.5rem auto;
  padding: 0.5rem;
}

.modal-btn-playlist:focus {
  color: white;
  background-color: #0d9488;
}

.btn-add {
  border: none;
  outline: none;
  background-color: var(--bg-nav);
  padding: 0.5rem;
  cursor: pointer;
}

.btn-img {
  height: 1.5rem;
  width: 1.5rem;
}

.btn-txt,
.txt-play {
  font-size: var(--txt-175);
  margin: 0rem 1rem;
  color: var(--txt-light-secondary);
}

.btn-txt {
  color: #0284c7;
}

.item-playlist {
  position: relative;
  display: flex;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid gray;
  width: 60%;
  /* margin: 0rem auto; */
  justify-content: space-between;
}

.btn-delete {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  top: 0.25em;
}

.img-delete {
  height: 1rem;
  width: 1rem;
}

.txt-play:hover {
  cursor: pointer;
  letter-spacing: 2px;
}

.img-play {
  height: 2rem;
  width: 2rem;
  position: relative;
  top: 0.25em;
}

/* Mobile layout */
@media screen and (max-width: 600px) {
  .video-page-block {
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
    width: auto;
  }

  .video-block {
    overflow: hidden;
    width: auto;
  }

  .video-responsive {
    height: auto;
  }

  .video-content-block {
    display: flex;
    flex-direction: column;
  }

  .video-title {
    color: var(--txt-light);
    font-size: var(--txt-15);
  }

  .video-info {
    color: var(--txt-light-secondary);
    font-size: var(--txt-1);
    margin: 0.5rem 0rem;
  }

  .video-author {
    display: flex;
  }

  .video-author-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0.5rem 0.25rem 0rem 0rem;
  }

  .video-author-info {
    color: var(--truegray300);
    font-size: var(--txt-115);
    align-self: center;
    margin: 0rem 0.5rem;
  }

  .video-desc {
    margin: 0.5rem 0rem;
    font-size: var(--txt-115);
    color: var(--txt-light-secondary);
    width: auto;
  }

  .video-sub-block {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    height: auto;
  }

  .video-sub-block-head {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: var(--txt-15);
    color: #0284c7;
  }

  .video-sub-block-content-x {
    display: flex;
    overflow-x: scroll;
  }

  .video-sub-block-content-x::-webkit-scrollbar {
    height: 5px;
  }

  .video-sub-block-content-x::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .video-sub-block-content-x::-webkit-scrollbar-thumb {
    background: var(--truegray600);
  }

  .nav-mob-top {
    padding: 0.25rem 0.5rem;
    margin: 0rem;
  }

  .nav-mob-logo {
    font-size: var(--txt-2);
  }

  .nav-mob-bottom {
    width: 100%;
    position: fixed;
    bottom: 0em;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
    z-index: 10;
    background-color: var(--bg-nav);
  }

  .btn-sign-in {
    font-size: var(--txt-115);
    top: 0.4em;
  }

  .footer-content {
    width: 85%;
  }

  .div-home-txt {
    padding: 1.25rem;
    top: 35%;
    left: 0em;
    line-height: 5rem;
  }

  .txt-medium {
    font-size: 5rem;
  }

  .txt-small {
    font-size: 3rem;
  }

  .txt-large {
    font-size: 7rem;
  }

  .div-home-sub {
    position: absolute;
    bottom: 7em;
    left: 2em;
    display: flex;
    cursor: pointer;
  }

  .login-block {
    padding: 1rem;
    width: 80%;
    margin: 1rem auto;
    border: 1px solid white;
    border-radius: 0.5rem;
  }

  .floating-label {
    width: auto;
    margin: 1rem auto;
  }

  .page-head {
    font-size: var(--txt-175);
  }

  .page-layout {
    width: auto;
  }

  .page-container {
    padding: 0rem;
    margin: 0rem;
    width: auto;
  }

  .category-card {
    margin: 0.2rem 0.1rem;
    flex: 0 1 48%;
    height: 120px;
  }

  .category-card-img {
    opacity: 0.6;
  }

  .category-card-txt {
    opacity: 0.9;
  }

  .category-card-txt-det {
    font-size: 1.5rem;
    color: var(--truegray100);
  }

  .card-layout {
    padding: 0.5rem;
    margin: 0.5rem auto;
    max-width: 270px;
  }

  .card-img {
    height: 150px;
    width: 270px;
    object-fit: cover;
  }

  .user-img {
    height: 120px;
    width: 120px;
  }

  .profile-name {
    font-size: var(--txt-15);
  }

  hr {
    width: 50%;
  }

  .page-width {
    width: auto;
    padding: 0rem;
  }

  .item-playlist {
    display: flex;
    padding: 0.5rem 1rem;
    width: auto;
  }

  .btn-txt,
  .txt-play {
    font-size: var(--txt-15);
  }
}
